<div class="song-embed-container">
    @if (EmbedUrl is not null)
    {
        <iframe class="song-embed-frame" src="@EmbedUrl"></iframe>
    }
</div>

@code {
    [Parameter]
    public Uri? EmbedUrl { get; set; }
}