@using MyFilkList.Models
<div class="song-link-container">
    @if (Links is not null && Links.Any())
    {
        <ul class="song-link-list">
            <li class="song-help-text">Links will open in a new tab.</li>
            @foreach (var link in Links)
            {
                <li><a href="@link.Url" target="_blank">@link.Text</a></li>
            }
        </ul>
    }
</div>

@code {
    [Parameter]
    public IReadOnlyList<LinkDescription>? Links { get; set; }
}