@page "/Songs/{NavKey}"

<div class="song-container">
    @if (_songDetail is not null)
    {
        <PageTitle>@_songDetail.Title</PageTitle>
        <h3 class="song-title">@_songDetail.Title</h3>
        <SongLinkList Links="@_songDetail.Links" />
        <GoogleDocEmbed EmbedUrl="@_songDetail.GoogleEmbedUrl" />
    }
    else
    {
        <PageTitle>Not Found</PageTitle>
        <h3>Not Found</h3>
        <p>Sorry, this page could not be found.</p>
    }
</div>

